@model List<MyPortfolio.Models.TblProject>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";

    int count = 0;
}


<br>
<br />
<h2>Projeler Sayfası</h2>

<table class="table table-bordered">
    <tr>
        <th>#</th>
        <th>Resim</th>
        <th>Proje Adı</th>
        <th>Kategori Adı</th>
        <th>Github</th>
        <th>Sil</th>
        <th>Güncelle</th>
    </tr>

    @foreach (var item in Model)
    {
        count++;
        <tr>
            <td>@item.ProjectId</td>
            <td><img src="@item.ImageUrl" style="height:50px; width:50px;"/></td>
            <td>@item.ProjectName</td>
            <td>@item.TblCategory.CategoryName</td>
            <td><a href="@item.GithubUrl" target="_blank">Github Linki</a></td>
            <td><a href="/Project/DeleteProject/@item.ProjectId" class="btn btn-outline-danger">Sil</a></td>
            <td><a href="/Project/UpdateProject/@item.ProjectId" class="btn btn-outline-info">Güncelle</a></td>
        </tr>
    }
</table>

<br />
<a href="/Project/AddProject" class="btn btn-outline-dark">Yeni Proje Ekle</a>